<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-6 p-5">
					<img alt="" src="/img/growtika--_jFGWIE6fg-unsplash.jpg" width=100%
						height=400px>
				</div>
				<div class="col-md-6 mt-2 p-5">
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header">
							<p class="fs-4 text-center">Register</p>
						</div>
						<div class="card-body">
							<form>
								<div class="row">
									<div class="col">
										<label class="from-level">Full Name</label> <input
											class="form-control" name="fullname" type="text">
									</div>

									<div class="col ">
										<label class="from-level">Mobile no</label> <input
											class="form-control" name="Mobileno" type="number">
									</div>

								</div>

								<div class="mb-3 ">
									<label class="from-level">Email</label> <input
										class="form-control" name="email" type="email">
								</div>
								
								<div class="row">
									<div class="col">
										<label class="from-level">Address</label> <input
											class="form-control" name="address" type="text">
									</div>

									<div class="col ">
										<label class="from-level">City</label> <input
											class="form-control" name="city" type="text">
									</div>

								</div>
								
								<div class="row">
									<div class="col">
										<label class="from-level">State</label> <input
											class="form-control" name="state" type="text">
									</div>

									<div class="col ">
										<label class="from-level">Pin code</label> <input
											class="form-control" name="pincode" type="number">
									</div>

								</div>
								
								<div class="row">
									<div class="col">
										<label class="from-level">Password</label> <input
											class="form-control" name="password" type="password">
									</div>

									<div class="col">
										<label class="from-level">Confirm Password</label> <input
											class="form-control" name="cpassword" type="password">
									</div>

								</div>
								
								<div class="mb-3 ">
									<label class="from-level">Profile Image</label> <input
										class="form-control" name="profile_image" type="file">
								</div>

								<button type="submit"
									class="btn bg-primary text-white col-md-12">Register</button>
							</form>
						</div>
						<!--Start Footer  -->
						<div class="card-footer text-center">
							
							have an account? <a href="/login" class="text-decoration-none">Login
								</a>
						</div>
						<!--End Footer  -->

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>